$button-size: 200px;

.App {
  padding-top: 50px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.start-button {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #4caf50;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px #999;

  &:hover {
    background-color: #3e8e41;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

}

.circle {
  position: relative;
  // background-color: #000000;
  // border-radius: 50%;
  // width: 500px;
  // height: 500px;
  line-height: 0;

  div {

    .quarter-circle-bottom-right {
      border-radius: 0 0 $button-size 0;
    }
    .quarter-circle-buttom-left {
      border-radius: 0 0 0 $button-size;
    }
    .quarter-circle-top-right {
      border-radius: 0 $button-size 0 0;
    }
    .quarter-circle-top-left {
      border-radius: $button-size 0 0 0;
    }
 
    .button {
      width: $button-size;
      height: $button-size;
      opacity: 0.5;
      display: inline-block;
      cursor: pointer;
      font-size: 24px;
      text-align: center;
      outline: none;
      border: none;

      &:active {
        transform: scale(.95, .95) ;
        opacity: 0.75;
      }
      &:hover {
        opacity: 0.6;
      }
    }

    .on {
      opacity: 1 !important;
    }

    &.center {
      line-height: normal;
      position: absolute;
      left: calc(50% - 75px);
      top: calc(50% - 75px);
      height: 100px;
      width: 100px;
      border-radius: 50%;
      display: inline-block;
      background-color: black;
      padding: 25px;
    }
  }
}