$button-size: 200px;
$button-border: 20px;
$button-glow-radius: 50px;

.App {
  padding-top: 50px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.start-button {
  padding: 15px;
  cursor: pointer;
  outline: none;
  background-color: #4caf50;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px #999;

  &:hover {
    background-color: #3e8e41;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

}

.circle {
  position: relative;
  background-color: #000000;
  border-radius: 50%;
  padding: $button-border;
  line-height: 0;
  box-shadow: 0 0 10px #000000;

  div {

    .quarter-circle-top-left {
      border-radius: $button-size 0 0 0;
      border-right: solid black $button-border;
      border-bottom: solid black $button-border;
      background-color: #00ff00;
      &.on {
        box-shadow: 0 0 $button-glow-radius #00ff00;
      }
    }
    .quarter-circle-top-right {
      border-radius: 0 $button-size 0 0;
      border-bottom: solid black $button-border;
      background-color: #ff0000;
      &.on {
        box-shadow: 0 0 $button-glow-radius #ff0000;
      }
    }
    .quarter-circle-buttom-left {
      border-radius: 0 0 0 $button-size;
      border-right: solid black $button-border;
      background-color: #fefe00;
      &.on {
        box-shadow: 0 0 $button-glow-radius #fefe00;
      }
    }
    .quarter-circle-bottom-right {
      border-radius: 0 0 $button-size 0;
      background-color: #0000ff;
      &.on {
        box-shadow: 0 0 $button-glow-radius #0000ff;
      }
    }

    .button {
      width: $button-size;
      height: $button-size;
      opacity: 0.9;
      display: inline-block;
      cursor: pointer;
      font-size: 24px;
      text-align: center;
      outline: none;
      transition: .2s;

      &:active {
        transform: scale(.97, .97);
        transition: 0.2s;
      }
      &:hover {
        opacity: 0.8;
      }
    }

    .on {
      opacity: 1 !important;
       //transform: scale(1.1);
    }

    &.center {
      line-height: normal;
      position: absolute;
      left: calc(50% - 75px);
      top: calc(50% - 75px);
      height: 100px;
      width: 100px;
      border-radius: 50%;
      display: inline-block;
      background-color: black;
      padding: 25px;
    }
  }
}